@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}
body {
  background-color: white;
  background-image: url(img6.png);
  background-size: cover; 
  background-repeat: no-repeat;
}

#container {
  width: 1000px;
  height: 300px;
  background-color: #0C5300;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0 0 50px 50px;
}

.wrapper {
  width: 90%;
  max-width: 50em;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2em;
  border-radius: 5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.app-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-icon {
  width: 9.37em;
}

.app-title {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: white;
}

label {
  display: block;
  font-weight: 600;
}

input#amount {
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border-bottom: 2px solid #02002c;
  color: black;
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

input#amount:focus {
  color: #10502d;
  border-color: rgb(151, 185, 27);;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

p select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: 300px;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 50%, center;
  background-size: 15px 15px;
  background-color: #00FAA8;
  color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

select option {
  background-color: #242222;
  color: #ffffff;
}

button {
  font-size: 1em;
  width: 50%;
  background-color: #0C5300;
  padding: 1em 0;
  margin-top: 2em;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  display: block; /* Make button a block-level element */
}
#result {
  font-size: 1.2em;
  width: 50%;
  text-align: center;
  margin-top: 1em;
  color: #02002c;
  background-color: #F5F5F5;;
  padding: 1.5rem 0;
  border-radius: 30px;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  display: block; /* Make button a block-level element */
}

label{
  color: white;
}

#text-1{
  background-color: white;
}